@if(control?.errors && control?.touched){
<div class="flex p-4 mb-4 mt-4 text-sm text-red-800 rounded-lg bg-red-100" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
    fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
    <ul class="mt-1.5 list-disc list-inside">
      @if(control?.getError('required')){
      <li>{{ field }} is required</li>
      }

      @if (control?.getError('email')) {
      <li>Enter a valid {{ field }}</li>
      }

      @if (formType === 'login') {
      @if (control?.getError('pattern') && field.toLowerCase() === 'password') {
      <li>Enter a valid {{ field }}</li>

      }
      @if (control?.getError('pattern') && field.toLowerCase() !== 'password') {
      <li>Enter a valid {{ field }}</li>
      }
      }

      @if (formType === 'register') {
      @if (control?.getError('minlength')) {
      <li>{{ field }} must have at least {{ control?.getError('minlength').requiredLength }} characters</li>
      }
      @if (control?.getError('maxlength')) {
      <li>{{ field }} exceeded maximum length (Up to {{ control?.getError('maxlength').requiredLength }} characters)
      </li>
      }
      @if (control?.getError('pattern') && field.toLowerCase() === 'password') {
      <li>Password must start with an uppercase letter</li>
      <li>Password must have at least 6 lowercase letters or digits after the first letter</li>
      }
      @if (control?.getError('pattern') && field.toLowerCase() !== 'password') {
      <li>{{ field }} format is invalid</li>
      }
      }
    </ul>
  </div>
</div>
}