<nav class="bg-gradient-to-r from-blue-600 to-blue-800 shadow-md border-gray-200">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">

    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/blue-shopping-cart.svg" class="w-16 h-8" alt="freshcart">
    </a>

    <!-- ? Mobile Toggle Button -->
    <button (click)="isMenuOpen = !isMenuOpen" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden
          hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-white transition" aria-controls="navbar-default"
      aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <!-- ? Menu Icon -->
      <svg [class.hidden]="isMenuOpen" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
      <!-- ? Close Icon -->
      <svg [class.hidden]="!isMenuOpen" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1l15 12M1 13L16 1" />
      </svg>
    </button>

    <!-- ? Menu -->
    <div [class.hidden]="!isMenuOpen"
      class="w-full text-white md:flex flex-grow justify-between items-center md:w-auto md:px-4 transition-all duration-400 ease-in-out"
      id="navbar-default">

      <!-- ? Nav Links -->
      <ul class="capitalize font-medium flex flex-col p-4 md:p-0 mt-4 border border-blue-500 rounded-lg
              md:flex-row md:space-x-6 md:mt-0 md:border-0">
        @if (isLoggedIn()) {
        <li><a routerLink="home" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.home' | translate}} </a>
        </li>

        <li><a routerLink="cart" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.cart' | translate}} </a>
        </li>

        <li><a routerLink="products" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.products' | translate}} </a>
        </li>

        <li><a routerLink="categories" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.categories' | translate}} </a>
        </li>

        <li><a routerLink="brands" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.brands' | translate}}</a>
        </li>

        <li><a routerLink="allorders" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.myOrders' | translate}}</a></li>

        <li><a routerLink="wishlist" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.wishlist'| translate}}</a>
        </li>
        }
      </ul>

      <ul class="capitalize font-medium hidden md:flex items-center space-x-6">

        @if (isLoggedIn()) {
        <li>
          <a routerLink="cart" class="block relative text-2xl py-2 px-3 rounded-sm md:p-1">
            <i class="fas fa-shopping-cart"></i>
            <span
              class="absolute top-0 right-[-10px] text-xs bg-white text-blue-700 rounded-lg px-1 py-1">{{cartCountItems}}</span>
          </a>
        </li>

        <li>
          <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown" data-dropdown-placement="right-start"
            type="button"
            class="flex items-center justify-between w-full px-4 py-2 text-white rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-400 transition">
            {{'navbar.chooseLang' | translate}}
          </button>

          <div id="doubleDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-md w-44">
            <ul class="py-2 text-sm text-gray-700" aria-labelledby="doubleDropdownButton">
              <li>
                <a [class.hidden]="currentLang('en')" (click)="changeLanguage('en')"
                  class="block px-4 py-2 text-blue-600 hover:bg-blue-50 hover:text-blue-800 transition">English</a>
              </li>

              <li>
                <a [class.hidden]="currentLang('ar')" (click)="changeLanguage('ar')"
                  class="block px-4 py-2 text-blue-600 hover:bg-blue-50 hover:text-blue-800 transition">Arabic</a>
              </li>
            </ul>
          </div>
        </li>

        <li><a (click)="signOut()" class="hover:text-gray-200 transition">
            {{'navbar.logout' | translate}}</a>
        </li>

        } @else {

        <li><a routerLink="login" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.login' | translate}}</a>
        </li>

        <li><a routerLink="register" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1">
            {{'navbar.register' | translate}}</a>
        </li>
        }

      </ul>
    </div>
  </div>
</nav>