<nav class="bg-gradient-to-r from-blue-600 to-blue-800 shadow-md border-gray-200">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/blue-shopping-cart.svg" class="w-16 h-8" alt="freshcart">
    </a>

    <!-- ? Mobile Toggle Button -->
    <button (click)="isMenuOpen = !isMenuOpen" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-white transition"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <!-- ? Menu Icon -->
      <svg [class.hidden]="isMenuOpen" class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
      <!-- ? Close Icon -->
      <svg [class.hidden]="!isMenuOpen" class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1l15 12M1 13L16 1" />
      </svg>
    </button>

    <!-- ? Menu -->
    <div [class.hidden]="!isMenuOpen"
      class="w-full text-white md:flex flex-grow justify-between md:w-auto md:px-4 transition-all duration-300 ease-in-out"
      id="navbar-default">

      <!-- ? Nav Links -->
      <ul
        class="capitalize font-medium flex flex-col p-4 md:p-0 mt-4 border border-blue-500 rounded-lg md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 md:border-0">
        @if (isLoggedIn()) {
        <li>
          <a routerLink="home" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1"
            aria-current="page">home</a>
        </li>
        <li>
          <a routerLink="cart" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1"
            aria-current="page">cart</a>
        </li>
        <li>
          <a routerLink="products" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1"
            aria-current="page">products</a>
        </li>
        <li>
          <a routerLink="categories" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1"
            aria-current="page">categories</a>
        </li>
        <li>
          <a routerLink="brands" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1"
            aria-current="page">brands</a>
        </li>
        <li>
          <a routerLink="allorders" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1"
            aria-current="page">My Orders</a>
        </li>
        }
      </ul>

      <!-- ? Nav Icons -->
      <ul
        class="capitalize font-medium flex items-center flex-col p-4 md:p-0 mt-4 border border-blue-500 rounded-lg md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a href="" class="block py-2 px-3 hover:text-gray-200 hover:scale-110 transition rounded-sm md:p-0"
            aria-current="page">
            <i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="" class="block py-2 px-3 hover:text-gray-200 hover:scale-110 transition rounded-sm md:p-0"
            aria-current="page">
            <i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="" class="block py-2 px-3 hover:text-gray-200 hover:scale-110 transition rounded-sm md:p-0"
            aria-current="page">
            <i class="fab fa-tiktok"></i></a>
        </li>
        <li>
          <a href="" class="block py-2 px-3 hover:text-gray-200 hover:scale-110 transition rounded-sm md:p-0"
            aria-current="page">
            <i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="" class="block py-2 px-3 hover:text-gray-200 hover:scale-110 transition rounded-sm md:p-0"
            aria-current="page">
            <i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href="" class="block py-2 px-3 hover:text-gray-200 hover:scale-110 transition rounded-sm md:p-0"
            aria-current="page">
            <i class="fab fa-youtube"></i></a>
        </li>

        @if (isLoggedIn()) {
        <li>
          <a (click)="signOut()"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-0 cursor-pointer"
            aria-current="page">
            Logout</a>
        </li>
        }

        @else {
        <li>
          <a routerLink="login" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1" aria-current="page">
            Login</a>
        </li>
        <li>
          <a routerLink="register" routerLinkActive="bg-white text-blue-700 rounded-lg"
            class="block py-2 px-3 hover:bg-white hover:text-blue-700 transition rounded-sm md:p-1" aria-current="page">
            Register</a>
        </li>
        }

      </ul>
    </div>
  </div>
</nav>
