<div class="max-w-3xl mx-auto bg-white shadow-lg rounded-xl p-8 mt-10">
  <h2 class="text-2xl font-bold text-blue-600 mb-6 text-center">Checkout</h2>

  <!-- ? Shipping Form -->
  <form [formGroup]="paymentForm" (ngSubmit)="checkout()" class="space-y-6">

    <!-- ? Details -->
    <div>
      <label for="userDetails" class="block text-sm font-medium text-gray-700 mb-1">Details</label>
      <input formControlName="details" id="userDetails" type="text" placeholder="Enter your details"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none" />
    </div>

    <!-- ? Phone -->
    <div>
      <label for="userPhone" class="block text-sm font-medium text-gray-700 mb-1">Phone Number</label>
      <input formControlName="phone" id="userPhone" type="tel" placeholder="02+"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none" />
    </div>

    <!-- ? Address -->
    <div>
      <label for="userCity" class="block text-sm font-medium text-gray-700 mb-1">City</label>
      <input formControlName="city" id="userCity" type="text" placeholder="Cairo, etc"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none" />
    </div>

    <!-- ? Payment Method -->
    <!-- <div>
      <label class="block text-sm font-medium text-gray-700 mb-2">Payment Method</label>
      <div class="space-y-2">
        <label class="flex items-center gap-3 border p-3 rounded-lg cursor-pointer hover:shadow-md">
          <input type="radio" name="payment" class="text-blue-500 focus:ring-blue-500" />
          <span class="text-gray-800">Credit/Debit Card</span>
        </label>
        <label class="flex items-center gap-3 border p-3 rounded-lg cursor-pointer hover:shadow-md">
          <input type="radio" name="payment" class="text-blue-500 focus:ring-blue-500" />
          <span class="text-gray-800">Cash on Delivery</span>
        </label>
      </div>
    </div> -->

    <!-- ? Place Order Button -->
    <button type="submit" [disabled]="paymentForm.invalid"
      class="w-full bg-blue-600 text-white font-semibold py-3 rounded-lg hover:bg-blue-700 shadow-md transition disabled:bg-blue-200 disabled:cursor-default">
      Place Order
    </button>
  </form>
</div>
